<app-navbar (menu) ="sidenav.toggle()" #child></app-navbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav opened role="navigation">
    <mat-nav-list>
      <div *ngFor="let path of pathList; let i = index">
        <div *ngFor="let type of reqType ; let j = index">
          <div *ngIf="validateReqType(type,path)">
            <a style="font-weight: 500;" mat-list-item (click)="onClickDisplay(i,j,path,type,child)" [ngClass] = "forDisplay(i,j) ? '' : 'bg-danger'"><span style="color: white;">{{ getMethodName(path,type) }}</span></a>
          </div>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <section style="padding: 10px 25px;">
      <div *ngFor="let path of pathList; let i = index">
        <div *ngFor="let type of reqType ; let j = index">
          <mat-tab-group *ngIf="validateReqType(type,path)" id="{{i}}{{j}}"  [ngClass] = "forDisplay(i,j) ? 'd-none' : 'content'">
            {{firstTime(i,j ,path,type,child)}}
            <mat-tab label="Overview">
              <ng-template matTabContent>
                <app-overview [path]="path" [reqType]='type'></app-overview>
              </ng-template>
            </mat-tab>
            <mat-tab label="Parameter/Headers">
              <ng-template matTabContent>
                <app-parameter-headers [path]="path" [reqType]='type'></app-parameter-headers>
              </ng-template>
            </mat-tab>
            <mat-tab label="Request/Response">
              <ng-template matTabContent>
                <app-request-response [path]="path" [reqType]='type'></app-request-response>
              </ng-template>
            </mat-tab>
            <mat-tab label="Try It Out">
              <ng-template matTabContent>
                <app-try-it-out [path]="path" [reqType]='type'></app-try-it-out>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
