mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}


mat-sidenav {
  width: 300px;
  background-color: #23395d;
}
.mat-drawer-container{
  background-color: inherit;
}

.content {
  min-height: 85vh;
  background-color: #F0F0F0;
  margin: 15px 0px;
  padding: 10px 15px;
}